rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows all reads and writes to all documents.
    // It is insecure and should not be used in production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
